.top{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
body{
    margin: 0;
    text-align: center;
   font-family: 'Merriweather', serif;
    color: #40514e;
}
p{
    line-height: 2;
}
h1{
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
     color: #66bfbf;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
     color: #11999E;
    text-align: left;
}
.middle{
    height: 200px;
    width:200px;
    background-color: blue;
}
.bottom-container a{
    color: #11999e;
    text-decoration: none;
    width: 100px;
    display: inline-block;
    margin-top: 40px;
}
.bottom-container p{
    margin-top:40px; 
    color: #eaf6f6;
    font-size: 10px;
    font-weight: lighter;
}
.bottom-container{
     background-color: #66BFBF;
    width: 100%;
    height: 150px;
    margin-top: 100px;
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.skill-row {
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img{
    height: 30%;
    width: 30%;
    float: left;
    margin-right: 30px;
}
p{
    font-weight: 600;
}
.net-img{
    height: 30%;
    width: 30%;
    float: right;
    margin-left: 30px;
}
.GIS-img{
    height: 30%;
    width: 30%;
    float: left;
    margin-right: 30px;
}
.profile-img{
    margin-top: 32px;
}
.profile p{
    color: #40514E;
}
hr{
     border-style:none;
    border-top-style: dotted;
    border-color:#eaf6f6;
    border-width: 6px;
    width:5%;
    margin: 70px auto 70px auto;
}
a:hover{
    color:#eaf6f6;
}
.btn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #11999);
  background-image: -moz-linear-gradient(top, #66bfbf, #11999);
  background-image: -ms-linear-gradient(top, #66bfbf, #11999);
  background-image: -o-linear-gradient(top, #66bfbf, #11999);
  background-image: linear-gradient(to bottom, #66bfbf, #11999);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #eaf6f6;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    position: relative;
    margin-top: 50px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*
.skill-row p{
    margin-left: 30px;
}*/
